*{
    box-sizing: border-box;
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
}
header{
    padding: 40px;
    text-align: center;
    background-color: #001219;
    color: #fff;
}
header h1{
    font-size: 50px;
}
nav{
    display: flex;
    background-color: #333;
    border-top: 2px solid #e9d8a6;
}
nav a{
    display: block;
    text-decoration: none;
    color: #fff;
     padding: 14px 20px;
     float: left;
}
nav a .flex-align-right{
    float: right;
}
section{
    text-align: center;
    height: 100%;
    padding: 75px 0px;
    min-height: 40vh;
}
section:nth-child(even){
    background-color: #ececec;
}
/* iframe{
    padding: 0px 5px;
} */
img{
    padding: 0px 10px;
}
h2{
    padding-bottom: 40px;
}
footer{
    overflow: hidden;
    background-color: #333;
}
footer a{
    display: block;
    text-decoration: none;
    color: #fff;
     padding: 14px 20px;
     float: left;
}
.copyright{
    float: right;
}
section h5{
    margin: 0px 130px;
}

.flex-align-right{
    /* margin-left: 60%; */
}
.menu-btn:hover{
    background-color:#ddd;
    color: #000;
    border-radius: 2px;
}

section h2 span{
    background: linear-gradient(to right, #f5d837, #bbb812);
    padding: 10px 55px;
    border-radius: 20px;
    color: #fff;
}
  
  .carousel-cell {
    width: 60%;
    margin-right: 10px;
    border-radius: 5px;
  
  }
  .carousel-cell img{
    max-width: 100%;
  }
 
  .wrapper {
    position: relative;
    padding-bottom: 30%;
    padding-top: 10px;
    height: 0;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.profile_img{
    border-radius: 50%;
    width: 13%;
}
.profile_name{
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 10px;
    margin: 20px 0px 30px 0px;
}
section h5 {
    margin: 40px;
}

@media screen and (max-width: 700px){
    nav{
        flex-direction: column;
        padding: 10px 0px;
    }
    .flex-align-right{
        margin-left: 0;
    }
}
